---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Open Source eUC">
	<div class="container text-base-50 mx-auto text-center py-8 max-w-xs">
		<h1 class="font-display text-2xl font-bold mb-2">Página en desarollo</h1>
		<p>
			<a href="https://github.com/open-source-uc/osuc.dev" class="text-primary-300 underline"
				>Puedes contribuir en Github</a
			>, cualquier duda la puedes hacer en el
			<a href="https://t.me/joinchat/AAAAAEZ0Z0ZlZmMx" class="text-primary-300 underline">
				grupo general en telegram</a
			>.
		</p>
	</div>
</Layout>
