---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import Layout from "~/layouts/Layout.astro";
import ProjectCard from "~/components/ProjectCard.astro";
import JoinImg from "~/assets/landing/join.jpg";
import ColaborateImg from "~/assets/landing/colaborate.jpg";
import MoreImg from "~/assets/landing/more.jpg";

const pinnedProjects = (await getCollection("projects", ({ data }) => data.pin !== undefined)).sort(
	(a, b) => (a.data.pin ?? -1) - (b.data.pin ?? -1)
);
---

<Layout title="Open Source eUC">
	<div class="text-center flex flex-col w-full items-center py-24 sm:py-32 md:py-52 border-b border-base-700">
		<div class="max-w-xs sm:max-w-lg md:max-w-xl">
			<h1 class="mb-4 text-4xl sm:text-5xl md:text-7xl font-display">Open Source UC</h1>
			<div class="text-base-300 sm:text-lg md:text-2xl">
				Somos una comunidad de estudiantes de la UC apasionada por crear e impulsar
				<span class="text-transparent bg-clip-text bg-gradient-to-br from-primary-200 to-primary-400 inline-block">
					proyectos bacanes
				</span>
				de código abierto
			</div>
		</div>
	</div>
	<div class="py-6 border-b border-base-700 bg-base-800">
		<div class="container">
			<h2 class="font-display font-bold text-base-100 text-3xl sm:text-4xl text-center py-8">Proyectos destacados</h2>
			<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 auto-rows-auto gap-8 w-fit mx-auto">
				{pinnedProjects.map((project) => <ProjectCard project={project} />)}
			</ul>
			<div class="flex flex-col md:flex-row text-center gap-2 justify-center mt-8 mx-auto max-w-lg">
				<a href="/projects" class="rounded py-3 px-6 text-primary-50 bg-base-700 hover:bg-base-600 transition-all"
					>Ir a GitHub</a
				>
				<a
					href="/projects"
					class="rounded py-3 px-6 text-primary-50 bg-gradient-to-br from-primary-400 to-primary-600 hover:bg-pos-0 bg-pos-100 bg-size-200 transition-all"
					>Ver todos los proyectos</a
				>
			</div>
		</div>
	</div>
	<div class="py-16">
		<div class="container grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-4 max-w-xl lg:max-w-screen-lg mx-auto">
			<div class="bg-base-800 text-base-50 rounded overflow-clip flex flex-col">
				<Image src={MoreImg} height={512} alt="" class="w-full object-cover h-36 object-[50%_30%]" />
				<div class="p-6 flex flex-col flex-grow">
					<div class="flex-grow">
						<h2 class="font-display font-bold text-3xl">Conoce más</h2>
						<div>Descubre que es lo que hacemos, como lo hacemos y como puedes participar.</div>
					</div>
					<a
						href="/about"
						class="rounded h-10 p-4 justify-center items-center flex w-full lg:w-max mt-8 text-primary-50 bg-base-700 hover:bg-base-600 transition-colors"
						>Más acerca de nosotros</a
					>
				</div>
			</div>
			<div class="bg-base-800 text-base-50 rounded overflow-clip flex flex-col">
				<Image src={ColaborateImg} height={512} alt="" class="w-full object-cover h-36 object-[50%_30%]" />
				<div class="p-6 flex flex-col flex-grow">
					<h2 class="font-display text-base-50 text-3xl font-bold">Colabora con nosotros</h2>
					<div class="text-base-100">
						Desde sponsors hasta otras iniciativas de otras universidades, buscamos colaborar para impulsar la comunidad
						de código abierto.
					</div>
					<a
						href="/about"
						class="rounded h-10 p-4 justify-center items-center flex w-full lg:w-max mt-8 text-primary-50 bg-base-700 hover:bg-base-600 transition-colors"
						>Contáctanos</a
					>
				</div>
			</div>
			<div class="lg:col-span-2 bg-primary-600 grid lg:grid-cols-2 h-min gap-4 rounded overflow-clip">
				<div class="relative lg:-mr-4 max-h-64 lg:max-h-96">
					<div class="absolute inset-0 bg-primary-600 mix-blend-overlay opacity-10"></div>
					<div
						class="absolute inset-0 bg-gradient-to-b lg:bg-gradient-to-r from-transparent via-transparent to-primary-600"
					>
					</div>
					<Image src={JoinImg} height={1024} alt="" class="w-full h-full object-cover max-h-96 object-[50%_35%]" />
				</div>
				<div class="px-6 py-6 flex flex-col">
					<div class="flex-grow">
						<h2 class="font-display text-3xl font-bold text-primary-50 mt-4 mb-4">Únete</h2>
						<div class="text-primary-100">
							Participa en la creación y colaboración en proyectos de distinto ámbito y alcance.
						</div>
					</div>
					<div class="flex flex-col gap-2 mt-8">
						<a
							href="/start"
							class="border-primary-100 border text-primary-50 px-10 h-10 flex justify-center items-center rounded"
							>Grupo general</a
						>
						<a href="/start" class="bg-primary-100 text-primary-900 px-10 h-10 flex justify-center items-center rounded"
							>Únete a nuestra comunidad</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>

<style>
	h1 {
		@apply text-transparent bg-clip-text font-extrabold bg-gradient-to-br from-primary-50 to-primary-100;
	}
</style>
