---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Open Source eUC">
	<div class="container pt-16">
		<h1 class="font-display text-4xl text-base-200 font-bold text-center mb-8">
			Únete a <span class="inline-block">Open Source UC</span>
		</h1>
		<div class="text-base-100 bg-base-800 max-w-lg mx-auto py-8 px-4 flex flex-col gap-4 rounded-t-lg">
			<p>¡Hola! De partida, muchas gracias por tu interés 🚀</p>
			<p>
				Como puedes ver, esta página y las guías para que puedas comenzar se encuentran en desarrollo. De todas formas,
				queremos comprometernos a que cualquiera se pueda unir en cualquier momento para aportar.
			</p>
			<p>
				Ser parte del equipo de Open Source UC es ser parte de un grupo de personas motivadas por el aprendizaje y la
				creación y mantención de proyectos open source. Tenemos un grupo de Telegram exclusivo y hacemos actividades entre nosotros.
			</p>
			<p>Se espera que dentro del equipo hagas <b class="font-bold">al menos una</b> de las siguientes cosas:</p>
			<ul class="list-disc pl-6">
				<li>Realizar aportes en los proyectos o integrar nuevos</li>
				<li>Ayudar al resto en proyectos o en sus dudas</li>
				<li>Compartir y comunicar cosas relacionadas a open source</li>
				<li>Organizar actividades y ayudar con tareas administrativas</li>
			</ul>
			<p>
				Nosotros no tenemos el clásico formulario de entrada. Para entrar, necesitas que te invite un coordinador. Esto
				debería ocurrir si realizas unas de las siguientes cosas:
			</p>
			<ul class="list-disc pl-6">
				<li>Realizas un aporte a un proyecto existente</li>
				<li>Presentes un proyecto que te gustaría liderar</li>
				<li>Mostrar motivación en actividades y espacios que tenemos</li>
			</ul>
			<p>
				Si crees que cumples con uno de esos requisitos y aún no te han invitado, siéntete libre de contactar a cualquier de los coordinadores
				por interno. También puedes pedirnos una reunión si te gustaría aclarar dudas y conocer más sobre como empezar.
			</p>
			<p>
				Sabemos que empezar puede ser intimidante. Para esto, tenemos un grupo de iniciación para que puedas preguntar
				lo que desees. También, puedes pregunar a los coordinadores por interno si es que se te hace más cómodo que enviar un mensaje al grupo.
			</p>
			<a
				href="https://t.me/+UeifVhR7gMIwNWIx"
				class="text-center bg-primary-600 text-primary-50 h-10 min-h-fit flex items-center justify-center rounded hover:bg-primary-500"
			>
				Grupo de iniciación</a
			>
			<p>
				Queremos formar una comunidad cercana que se pueda apoyar entre ella para crear y mantener proyectos bacanes.
				Esperamos que te animes a formar parte de esto. ¡Nos vemos👋!
			</p>
		</div>
	</div>
</Layout>
