---
import "@fontsource/inter/500.css";
import "@fontsource/inter/variable.css";

import "@fontsource/league-spartan/700.css";
import "@fontsource/league-spartan/variable.css";
import GitHubIcon from "~/components/icons/GitHubIcon.astro";
import InstagramIcon from "~/components/icons/InstagramIcon.astro";

import OSUC from "~/components/OSUC.astro";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen flex flex-col">
		<header class="border-b flex-shrink-0 border-base-700">
			<div class="container h-20 items-center flex">
				<div class="flex-grow">
					<nav class="flex h-full text-base-200">
						<a href="/" class="flex items-center gap-3 p-2">
							<OSUC class="-mt-1 h-8 fill-base-200" />
							<span class="sr-only">Ir al inicio</span>
							<span aria-hidden="false" class="font-display text-2xl font-bold leading-none">Open Source UC</span>
						</a>
					</nav>
				</div>
				<div class="flex gap-2">
					<a href="https://github.com/open-source-uc">
						<GitHubIcon class="text-base-200" />
						<span class="sr-only">Ir a GitHub</span>
					</a>
					<a href="https://www.instagram.com/opensource_euc">
						<InstagramIcon class="text-base-200" />
						<span class="sr-only">Ir a Instagram</span>
					</a>
				</div>
			</div>
		</header>
		<div class="flex-grow">
			<slot />
		</div>
		<div class="border-t border-base-700">
			<footer class="container text-base-50">
				<nav
					aria-label="Secondary"
					class="flex flex-col items-start justify-between gap-12 py-8 sm:flex-row-reverse md:py-12"
				>
				</nav>
			</footer>
		</div>
	</body>

	<style is:global>
		html {
			@apply bg-base-900;
		}
		html,
		body {
			@apply m-0 h-full p-0;
		}
		code {
			font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
				Courier New, monospace;
		}
	</style>
</html>
